.bg{
	width: 100%;
	height:100%;
	background:url(../img/bg.png) center;
	position:fixed;
	left: 0px;
	right: 0px;
	top:0px;
	bottom:0px;
	margin: auto;
}
.scence{
	width: 500px;
	height: 500px;
	/*background:url(../img/8.jpg);*/
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	bottom:0px;
	margin: auto;
	/*z-index: 66;*/
}
.button{
	width:300px;
	height:200px;
	background: url(../img/3.jpg);
	background-size:cover;
	position: absolute;
	left: 0px;
	right: 0px;
	top:0px;
	bottom:0px;
	margin: auto; 

}
.block{
	width: 25px;
	height: 25px;
	/*background:white;*/
	float: left;
}
.she{
	background: url(../img/she1.png);
	background-size:cover;
	/*border-radius: 20px;*/
	max-height: 100%;
	max-width: 100%;
}
.food{
	background:url(../img/food.png);
	background-size:25px;
	z-index: 22;
	
}
.yes ,.no{
	border-radius:10px;
	width: 40px;
	height: 30px;
	background:#f1cc26;
	border:1px solid white;
	color:white;
	float: left;
	text-align: center;
	line-height: 30px;
	font-size:14px;
	margin-left: 80px;
	margin-top: 150px;

}
.no:hover{
	background:#6acafd;
	font-size:18px;

}
.yes:hover{
	background:#6acafd;
	font-size:18px;

}
.start{
	width: 100px;
	height: 40px;
	border-radius: 10px;
	border:1px solid black;
	background: white;
	line-height:40px;
	text-align: center;
	position: absolute;
	right: 100px;
	top: 200px;
	float: right;
	font-size: 22px;
	cursor: pointer;
}
.start:hover{
	border:2px solid white;
	background:rgba(255,255,255,0.9);
}
#stop{
	width: 100px;
	height: 40px;
	border-radius: 10px;
	border:1px solid black;
	background: white;
	line-height:40px;
	text-align: center;
	position: absolute;
	right: 100px;
	top: 270px;
	float: right;
	font-size: 22px;
	cursor: pointer;
}
#stop:hover{
	border:2px solid white;
	background:rgba(255,255,255,0.9);
}
.resert{
	width: 100px;
	height: 40px;
	border-radius:10px;
	border:1px solid black;
	background: white;
	line-height:40px;
	text-align: center;
	position: absolute;
	right: 100px;
	top: 340px;
	float: right;
	font-size: 22px;
	cursor: pointer;
}
.score{
	width: 100px;
	height: 40px;
	border-radius:10px;
	border:1px solid black;
	background: white;
	line-height:40px;
	text-align: center;
	position: absolute;
	right: 100px;
	top: 100px;
	font-size: 22px;
}
.resert:hover{
	border:2px solid white;
	background:rgba(255,255,255,0.9);
}
.information{
	padding:10px;
	border-radius:10px;
	width: 250px;
	height: auto;
	background: white;
	border:1px solid black;
	float: left;
	margin-left: 50px;
	margin-top: 100px;
	font-size: 14px;
	line-height: 25px;
	position: relative;
}
span{
	font-size: 30px;
	color:#34affc;
	position: absolute;
	left: 50px;
	top:50px;
}